In [2]:
import numpy as np
import os
import time
import scipy
import math
import pandas as pd
import matplotlib.pyplot as plt




from scipy.stats import wilcoxon

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Accuracy summary

In [166]:

######## read the log file

report_dataset = [
                "anonymity",
                "census",
                "diabetes",
                "election",
                "email",
                "employ",
                "employee",
                "jobs",
                "rice",
                "taxidata",
                "landcover"
                 ]
report_method = ["CT","LDPHIST", "LPCT-M", "LDPTC-Prune", "LPCT-original", "LDPGLM", "PSGD-L", "PSGD-N", "LPCT-V", "CT_pub", "LPCT-Prune-V"]


all_log = pd.DataFrame([])
log_file_dir = "./results/realdata" 
for method in report_method:
    log = pd.read_csv("{}/{}.csv".format(log_file_dir,method), header=None)
    log.columns = "dataname,method,iterate,epsilon,n_P,n_Q,acc,bce,time,parameter1,parameter2,parameter3".split(',')
    all_log = all_log.append(log)

In [179]:
sig_level = 0.05
specific_epsilon = 8



######## filter the results to display
summarize_log = all_log.copy()
summarize_log = summarize_log[summarize_log["dataname"].isin(report_dataset)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log = summarize_log[summarize_log["epsilon"] == specific_epsilon]


mean_result_log = summarize_log.groupby(by=["dataname", "method", "epsilon", "parameter1", "parameter2", "parameter3"]).agg('mean').reset_index()
best_log = mean_result_log.groupby(by=["dataname", "method", "epsilon"]).agg('max').reset_index()



summary = pd.pivot_table(best_log, index=["dataname"],columns=["method"], values=[ "acc"], aggfunc=[np.mean])
summary

               mean                                                      \
                acc
method           CT    CT_pub    LDPGLM   LDPHIST LDPTC-Prune    LPCT-M
dataname
anonymity  0.834649  0.834649  0.524562  0.834649    0.834649  0.834649
census     0.868639  0.868193  0.485051       NaN    0.801717  0.853732
diabetes   0.995817  0.750097  0.507587  0.667607    0.652918  0.730739
election   0.641344  0.595786  0.507289  0.505581    0.526765  0.565148
email      0.925578  0.771156  0.519347       NaN    0.717588  0.735025
employ     0.904757  0.907720  0.496320  0.652693    0.592101  0.772801
employee   0.764759  0.718554  0.533434  0.671807    0.638313  0.744257
jobs       0.786274  0.779901  0.496391  0.537283    0.557534  0.562807
landcover  0.940986  0.667042  0.504056  0.836676    0.824873  0.873690
rice       0.899167  0.910000  0.427500  0.793333    0.898333  0.902778
taxidata   0.960088  0.959018  0.496542       NaN    0.541591  0.566560



method    LPCT-Prune-V    LPCT-V LPCT-original    PSGD-L    PSGD-N
dataname
anonymity     0.834649  0.834649      0.834649  0.827193  0.816228
census        0.843957  0.874300      0.823791  0.852863  0.847010
diabetes      0.740078  0.759047      0.669942  0.718677  0.689494
election      0.584624  0.584852      0.525285  0.572665  0.547608
email         0.705980  0.748995      0.725276  0.753065  0.705980
employ        0.596140  0.912388      0.629982  0.579444  0.575943
employee      0.677711  0.716988      0.730121  0.666145  0.666747
jobs          0.767096  0.782319      0.562285  0.759316  0.657045
landcover     0.850366  0.896028      0.857521  0.889352  0.836760
rice          0.918333  0.918333      0.898333  0.905833  0.884167
taxidata      0.958875  0.958875      0.563410       NaN       NaN

In [180]:
# calculate rank sum
def rank_sum_per_row(arr):
    num_rows, num_cols = arr.shape
    rank_sums = []

    for i in range(num_rows):
        row = - arr[i, :]
        # Calculate the ranks of elements in the row
        ranks = np.argsort(row).argsort() + 1
        rank_sums.append(ranks)

    return np.array(rank_sums)

summary.replace(np.nan, 0, inplace = True)
npsummary = summary.to_numpy()



rank_sum_per_row(npsummary[:,1:]).sum(axis = 0)

array([ 39, 104,  83,  77,  39,  43,  22,  64,  56,  78])

## Time

In [163]:






######## read the log file

report_dataset = [
                "anonymity",
                "census",
                "diabetes",
                "election",
                "email",
                "employ",
                "employee",
                "jobs",
                "rice",
                "taxidata",
                "landcover"
                 ]
report_method = ["CT","LDPHIST", "LPCT-M", "LDPTC-Prune", "LPCT-original", "LDPGLM", "PSGD-L", "PSGD-N", "LPCT-V", "CT_pub", "LPCT-Prune-V"]


all_log = pd.DataFrame([])
log_file_dir = "./results/realdata" 
for method in report_method:
    log = pd.read_csv("{}/{}.csv".format(log_file_dir,method), header=None)
    log.columns = "dataname,method,iterate,epsilon,n_P,n_Q,acc,bce,time,parameter1,parameter2,parameter3".split(',')
    all_log = all_log.append(log)

In [164]:
sig_level = 0.05
specific_epsilon = 2



######## filter the results to display
summarize_log = all_log.copy()
summarize_log = summarize_log[summarize_log["dataname"].isin(report_dataset)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log = summarize_log[summarize_log["epsilon"] == specific_epsilon]


mean_result_log = summarize_log.groupby(by=["dataname", "method", "epsilon", "parameter1", "parameter2", "parameter3"]).agg('mean').reset_index()
grouplog = mean_result_log.groupby(["dataname", "method"])
idmax = grouplog['acc'].idxmax()

timelog = mean_result_log.loc[idmax][["dataname", "method", 'time']]

In [165]:
timelog.pivot(index='dataname', columns='method', values='time')

method,CT,CT_pub,LDPGLM,LDPHIST,LDPTC-Prune,LPCT-M,LPCT-Prune-V,LPCT-V,LPCT-original,PSGD-L,PSGD-N
dataname,,,,,,,,,,,
anonymity,0.003195,0.002219,0.002386,0.009900,0.009275,0.009756,0.012475,0.006203,0.002360,0.762101,1.279267
census,0.570403,0.322502,0.050813,NaN,0.588133,1.018375,0.859898,5.128426,0.212813,16.494228,33.667912
diabetes,0.009861,0.002886,0.002853,0.030701,0.026113,0.111208,0.027680,0.037694,0.006472,3.022981,5.577112
election,0.015332,0.003050,0.002895,1.105547,0.026734,0.064368,0.029039,0.029957,0.024832,2.804549,4.816347
email,3.324759,0.062588,3.750901,NaN,0.254921,1.207034,1.380965,10.742815,1.204292,7.762340,3117.662063
employ,0.004881,0.002722,0.003004,0.034777,0.951771,0.091107,0.858548,0.231695,0.037525,4.777572,6.574847
employee,0.005603,0.002715,0.003776,0.054043,0.044604,0.083374,0.138774,0.129137,0.048549,6.877030,9.974805
jobs,0.100126,0.026727,0.029290,0.785671,0.573584,1.110021,0.590497,1.157168,0.532987,116.441221,140.786938
landcover,0.277794,0.004940,0.004607,0.150117,0.094046,0.118367,0.108846,0.084400,0.087339,17.530919,21.490840
rice,0.013861,0.016135,0.007632,0.004528,0.011921,0.022062,0.022758,0.011632,0.006376,2.410478,2.335087
taxidata,143.518592,0.945939,1.735041,NaN,37.774190,219.649567,39.891784,75.499117,173.356072,NaN,NaN

## Dataset info

In [ ]:




def split_csv(string):
    return string.split(".")[0]


######## read the log file

report_dataset = [
                "anonymity",
                "census",
                "diabetes",
                "election",
                "email",
                "employ",
                "employee",
                "jobs",
                "rice",
                "taxidata",
                "landcover"
                 ]
report_method = ["CT","LDPHIST", "LPCT-M", "LDPTC-Prune", "LPCT-original", "LDPGLM", "PSGD-L", "PSGD-N", "LPCT-V", "CT_pub", "LPCT-Prune-V"]


all_log = pd.DataFrame([])
log_file_dir = "./results/realdata" 
for method in report_method:
    log = pd.read_csv("{}/{}.csv".format(log_file_dir,method), header=None)
    log.columns = "dataname,method,iterate,epsilon,n_P,n_Q,acc,bce,time,parameter1,parameter2,parameter3".split(',')
    all_log = all_log.append(log)

In [28]:
summary = pd.pivot_table(best_log, index=["dataname"],columns=["method"], values=[ "n_P"], aggfunc=[np.mean])
summary
summary = pd.pivot_table(best_log, index=["dataname"],columns=["method"], values=[ "n_Q"], aggfunc=[np.mean])
summary

              mean                                                         \
               n_P
method          CT     LDPGLM  LDPHIST LDPTC-Prune   LPCT-M LPCT-original
dataname
anonymity    453.0      453.0    453.0       453.0    453.0         453.0
census      3144.0     3144.0      NaN      3144.0   3144.0        3144.0
diabetes    2054.0     2054.0   2054.0      2054.0   2054.0        2054.0
election    1752.0     1752.0   1752.0      1752.0   1752.0        1752.0
email       3977.0     3977.0      NaN      3977.0   3977.0        3977.0
employ      2225.0     2225.0   2225.0      2225.0   2225.0        2225.0
employee    3319.0     3319.0   3319.0      3319.0   3319.0        3319.0
jobs       46218.0    46218.0  46218.0     46218.0  46218.0       46218.0
landcover   7097.0     7097.0   7097.0      7097.0   7097.0        7097.0
rice         240.0      240.0    240.0       240.0    240.0         240.0
taxidata       NaN  3297639.0      NaN   3297639.0      NaN     3297639.0



method        PSGD-L   PSGD-N
dataname
anonymity      453.0    453.0
census        3144.0   3144.0
diabetes      2054.0   2054.0
election      1752.0   1752.0
email         3977.0   3977.0
employ        2225.0   2225.0
employee      3319.0   3319.0
jobs         46218.0  46218.0
landcover     7097.0   7097.0
rice           240.0    240.0
taxidata   3297639.0      NaN

              mean                                                        \
               n_Q
method          CT    LDPGLM  LDPHIST LDPTC-Prune   LPCT-M LPCT-original
dataname
anonymity     50.0      50.0     50.0        50.0     50.0          50.0
census     41292.0   41292.0      NaN     41292.0  41292.0       41292.0
diabetes     200.0     200.0    200.0       200.0    200.0         200.0
election     222.0     222.0    222.0       222.0    222.0         222.0
email        200.0     200.0      NaN       200.0    200.0         200.0
employ       200.0     200.0    200.0       200.0    200.0         200.0
employee     504.0     504.0    504.0       504.0    504.0         504.0
jobs       14318.0   14318.0  14318.0     14318.0  14318.0       14318.0
landcover    131.0     131.0    131.0       131.0    131.0         131.0
rice        3510.0    3510.0   3510.0      3510.0   3510.0        3510.0
taxidata       NaN  117367.0      NaN    117367.0      NaN      117367.0



method       PSGD-L   PSGD-N
dataname
anonymity      50.0     50.0
census      41292.0  41292.0
diabetes      200.0    200.0
election      222.0    222.0
email         200.0    200.0
employ        200.0    200.0
employee      504.0    504.0
jobs        14318.0  14318.0
landcover     131.0    131.0
rice         3510.0   3510.0
taxidata   117367.0      NaN

In [57]:

data_file_dir = "./data/clean/"
data_file_name_seq = [
"anonymity",
"census",
"diabetes",
"election",
"email",
"employ",
"employee",
"jobs",
"rice",
"landcover",
"taxidata",
]

for dataname in data_file_name_seq:
    pub_file_name = "{}_pub.csv".format(dataname)
    path = os.path.join(data_file_dir, pub_file_name)
    data = pd.read_csv(path, header=None)
    data = np.array(data, dtype = "float")
    X_Q = data[:,1:]
    y_Q = data[:,0]
    print(dataname, X_Q.shape[1])

anonymity 14
census 46
diabetes 8
election 9
email 3000
employ 8
employee 9
jobs 11
rice 7
landcover 28
taxidata 93

In [ ]:
# anonymity   identical
# census      non
# diabetes    identical
# election    non
# email       identical
# employ      identical
# employee    non
# jobs        non
# landcover   non
# rice        identical
# taxidata    non

## Wilcoxon test

In [127]:
# find the three best methods
data_file_name_seq = [
"anonymity",
# "census",
# "diabetes",
# "election",
# "email",
# "employ",
# "employee",
# "jobs",
# "rice",
# "landcover",
# "taxidata",
]
sig_level = 0.05
specific_epsilon = 8
method1 = "LPCT-V"
method2 = "LPCT-M"



report_method = [method1, method2]


all_log = pd.DataFrame([])
log_file_dir = "./results/realdata" 
for method in report_method:
    log = pd.read_csv("{}/{}.csv".format(log_file_dir,method), header=None)
    log.columns = "dataname,method,iterate,epsilon,n_P,n_Q,acc,bce,time,parameter1,parameter2,parameter3".split(',')
    all_log = all_log.append(log)
    


######## filter the results to display
summarize_log = all_log.copy()
summarize_log = summarize_log[summarize_log["dataname"].isin(data_file_name_seq)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log = summarize_log[summarize_log["epsilon"] == specific_epsilon]


mean_result_log = summarize_log.groupby(by=["dataname", "method", "epsilon", "parameter1", "parameter2", "parameter3"]).agg('mean').reset_index()
# find the three best methods
data_file_name_seq = [
# "anonymity",
"census",
# "diabetes",
# "election",
# "email",
# "employ",
# "employee",
# "jobs",
# "rice",
# "landcover",
# "taxidata",
]
sig_level = 0.05
specific_epsilon = 8
method1 = "LPCT-V"
method2 = "LPCT-M"



report_method = [method1, method2]


all_log = pd.DataFrame([])
log_file_dir = "./results/realdata" 
for method in report_method:
    log = pd.read_csv("{}/{}.csv".format(log_file_dir,method), header=None)
    log.columns = "dataname,method,iterate,epsilon,n_P,n_Q,acc,bce,time,parameter1,parameter2,parameter3".split(',')
    all_log = all_log.append(log)
    


######## filter the results to display
summarize_log = all_log.copy()
summarize_log = summarize_log[summarize_log["dataname"].isin(data_file_name_seq)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log = summarize_log[summarize_log["epsilon"] == specific_epsilon]


mean_result_log = summarize_log.groupby(by=["dataname", "method", "epsilon", "parameter1", "parameter2", "parameter3"]).agg('mean').reset_index()


maxidx1 = mean_result_log[mean_result_log["method"].isin([method1])]["acc"].argmax()
dic1 = {
    "epsilon":[specific_epsilon],
    "dataname":[dataname],
    "method": [method1],
    "parameter1": [mean_result_log.loc[maxidx1]["parameter1"]],
    "parameter2": [mean_result_log.loc[maxidx1]["parameter2"]],
    "parameter3": [mean_result_log.loc[maxidx1]["parameter3"]]
}
mask_list = [all_log[col].isin(values) for col, values in dic1.items()]
combined_mask = mask_list[0]
for mask in mask_list[1:]:
    combined_mask = combined_mask & mask
filtered_log = all_log[combined_mask]
seq1 = filtered_log["acc"]


maxidx2 = mean_result_log[mean_result_log["method"].isin([method2])]["acc"].argmax()
dic2 = {
    "epsilon":[specific_epsilon],
    "dataname":[dataname],
    "method": [method2],
    "parameter1": [mean_result_log.loc[maxidx2]["parameter1"]],
    "parameter2": [mean_result_log.loc[maxidx2]["parameter2"]],
    "parameter3": [mean_result_log.loc[maxidx2]["parameter3"]]
}
mask_list = [all_log[col].isin(values) for col, values in dic2.items()]
combined_mask = mask_list[0]
for mask in mask_list[1:]:
    combined_mask = combined_mask & mask
filtered_log = all_log[combined_mask]
seq2 = filtered_log["acc"]


wilcoxon( seq1 - seq2, alternative = "less").pvalue < sig_level

True